#table-container{
    color: #fff;
}
#table-container h1 {
    margin-bottom: 0;
}

table{
    text-align: center;
    margin-top: 1rem;
    color: #fff;
    font-weight: bolder;
    font-size: 0.8rem; 
    width: 100%; 

}

th, td{
   text-align: center;
   border-bottom: 1px solid #fff;
}
td:first-child{
    text-align: left;
}
.btnTable{
    text-align: center;
    margin-top: 1rem;
}





