#main-container{
    background-color: rgb(4, 41, 41);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #3d3737;
}
#main-container h1{
    margin-bottom: 1.3rem;
    color: #fff;
}